<app-float-button (onClick)="create()"></app-float-button>

<div class="search-students">
  <div class="search">
    <div class="row">
      <div class="col-md-12">
        <label>Search student</label>
        <input
          name="name"
          required
          class="form-control"
          [(ngModel)]="text"
          (ngModelChange)="search()"
          placeholder="Search student by name or unique Id"
        />
      </div>
      <!-- <div class="col-md-2">
        <label>Class</label>
        <select name="class" [(ngModel)]="class" class="form-control">
          <option selected [value]="null">ALL</option>
          <option [value]="class" *ngFor="let class of classes">
            {{ class }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <label>Section</label>
        <select name="section" [(ngModel)]="section" class="form-control">
          <option selected [value]="null">ALL</option>
          <option [value]="class" *ngFor="let section of sections">
            {{ section }}
          </option>
        </select>
      </div> -->
    </div>
  </div>
  <div class="list mt-3">
    <div class="card">
      <!-- <div class="card-header">List of books</div> -->
      <div class="card-body">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of students; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.uniqueId }}</td>
              <td>
                <button
                  class="btn btn-sm btn-warning"
                  (click)="onEdit(item._id)"
                >
                  Edit
                </button>
              </td>
              <td><button class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
