<div class="author-info center">
  <div class="card w-50">
    <div class="card-header">Author Information</div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input
            name="name"
            required
            class="form-control"
            placeholder="Enter name"
            [(ngModel)]="author.name"
          />
        </div>
        <div class="form-group">
          <label>Description</label>
          <input
            name="description"
            class="form-control"
            placeholder="Enter decription(if any)"
            [(ngModel)]="author.description"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        (click)="onSubmit()"
        class="btn btn-primary btn-sm"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>
