<div class="student-info center">
  <div class="card w-50">
    <div class="card-header">Student Information</div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input
            name="name"
            required
            class="form-control"
            placeholder="Enter name"
            [(ngModel)]="student.name"
          />
        </div>
        <div class="row form-group">
          <div class="col-md-8">
            <label>Class</label>
            <select
              name="class"
              required
              [(ngModel)]="student.class"
              class="form-control"
            >
              <option selected disabled [value]="null">Select class</option>
              <option [value]="class" *ngFor="let class of classes">
                {{ class }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Section</label>
            <select
              name="section"
              required
              [(ngModel)]="student.section"
              class="form-control"
            >
              <option selected disabled [value]="null">Select section</option>
              <option [value]="section" *ngFor="let section of sections">
                {{ section }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Roll number</label>
          <input
            name="rno"
            class="form-control"
            placeholder="Enter roll number(if any)"
            [(ngModel)]="student.rno"
          />
        </div>
        <div class="form-group">
          <label>Id number</label>
          <input
            name="uniqueId"
            class="form-control"
            placeholder="Enter Id number(if any)"
            [(ngModel)]="student.uniqueId"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        (click)="onSubmit()"
        class="btn btn-primary btn-sm"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
