<div class="book-info center">
  <div class="card w-50">
    <div class="card-header">Book Information</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input
            name="name"
            class="form-control"
            placeholder="Enter name"
            [(ngModel)]="book.name"
          />
        </div>
        <div class="form-group">
          <label>Select Author</label>
          <select
            class="form-control"
            name="author_id"
            [(ngModel)]="book.author_id"
          >
            <option selected disabled [value]="undefined">---Author---</option>
          </select>
          <!-- <select
            name="author_id"
            class="form-control"
            placeholder="Select author"
            [(ngModel)]="book.author_id"
          /> -->
        </div>
        <div class="form-group">
          <label>Description</label>
          <input
            name="description"
            class="form-control"
            placeholder="Enter decription(if any)"
            [(ngModel)]="book.description"
          />
        </div>
        <div class="form-group">
          <label>Genre</label>
          <input type="password" class="form-control" placeholder="Password" />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </div>
</div>
