<div class="book-info center">
  <div class="card w-50">
    <div class="card-header">Book Information</div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input
            name="name"
            required
            class="form-control"
            placeholder="Enter name"
            [(ngModel)]="book.name"
          />
        </div>
        <div class="form-group">
          <label>Price</label>
          <input
            type="number"
            name="price"
            required
            class="form-control"
            placeholder="Enter price"
            [(ngModel)]="book.price"
          />
        </div>
        <div class="form-group">
          <label>Select Author</label>
          <select
            class="form-control"
            required
            name="author_id"
            [(ngModel)]="book.author_id"
          >
            <option selected disabled [value]="undefined">---Author---</option>
            <option *ngFor="let author of authors" [value]="author._id">
              {{ author.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input
            name="description"
            class="form-control"
            placeholder="Enter decription(if any)"
            [(ngModel)]="book.description"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        (click)="onSubmit()"
        class="btn btn-primary btn-sm"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
