.app-main {
  .content {
    display: flex;
    .side-bar {
      width: 220px;
      background-color: #2076d21c;
      height: calc(100vh - 60px);
    }
    .main-content {
      padding: 16px;
      width: calc(100vw - 220px);
      max-height: calc(100vh - 60px);
      overflow: overlay;
    }
  }
}
